{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ product.name if product else 'Новый продукт' }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ product.name if product else 'Новый продукт' }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <h3>Версия продукта</h3>
        {{ version_form|crispy }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}
