{% extends 'catalog/base.html' %}
{% load media_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ product.image|mymedia }}" class="img-fluid" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p><strong>Price:</strong> ${{ product.price }}</p>
            {% if product.current_version %}
                <p><strong>Current Version:</strong> {{ product.current_version.version_name }}</p>
                <a href="{% url 'delete_version' product.current_version.pk %}" class="btn btn-danger">Delete Version</a>
            {% endif %}
            <a href="{% url 'create_version' %}?product_id={{ product.pk }}" class="btn btn-primary">Создать версию</a>
        </div>
    </div>
</div>
{% endblock %}
