{% extends 'catalog/base.html' %}
{% load media_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ product.image|mymedia }}" class="img-fluid" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/300" class="img-fluid" alt="Placeholder Image">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p><strong>Цена:</strong> ${{ product.price }}</p>
            {% if product.current_version %}
                <p><strong>Версия:</strong> {{ product.current_version.version_name }}</p>
            {% endif %}
            {% if request.user == product.owner or perms.catalog.change_product %}
                <a href="{% url 'update_product' product.pk %}" class="btn btn-primary">Редактировать продукт</a>
                <form action="{% url 'delete_product' product.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить продукт</button>
                </form>
                <a href="{% url 'create_version' %}?product_id={{ product.pk }}" class="btn btn-secondary">Добавить версию</a>
            {% endif %}
            {% if perms.catalog.can_publish_product %}
                <form action="{% url 'publish_product' product.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">
                        {% if product.is_published %}
                            Отменить публикацию
                        {% else %}
                            Публиковать продукт
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
